<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>招牌</string>
		<string>酒水</string>
		<string>汤类</string>
		<string>凉菜</string>
		<string>甜品</string>
		<string>饮料</string>
	</array>
</array>
</plist>
